body {
  font-family: var(--font-primary);
  color: var(--text-primary);
  background: var(--bg-secondary);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 600;
}

.favicon {
  font-family: var(--font-mon);
  font-size: 200px;
  font-weight: bold;
  color: white;
  text-align: center;
}
