/* Page layout structure */
body {
  display: grid;
  grid-template-rows: var(--size-header) auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  min-height: 100vh;
}

.main-header {
  grid-area: header;

  background-color: var(--color-primary-x-lighter);
  padding: 0 var(--space-6);
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  width: 100%;
  display: flex;
  gap: var(--space-4);
  align-items: center;
  justify-content: space-between;
  
}

.main {
  grid-area: main;
  overflow-y: auto;
}
.page-main {
  padding: var(--space-12) var(--space-6);
}

.footer {
  grid-area: footer;
  border-top: 1px solid var(--border-primary);
}
