/* Page layout structure */
body {
  display: grid;
  grid-template-rows: var(--size-header) auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  min-height: 100vh;
}

.main-header {
  grid-area: header;

  background: var(--bg-primary);
  padding: 0 var(--space-6);
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  width: 100%;
  display: flex;
  gap: var(--space-4);
  align-items: center;
  justify-content: space-between;
}

.main {
  grid-area: main;
  overflow-y: auto;
}

.footer {
  grid-area: footer;
  border-top: 1px solid var(--border-primary);
}

/* Container system */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

@media (min-width: 640px) {
  .container {
    max-width: var(--container-sm);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-md);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--container-lg);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container-xl);
  }
}
