@import "footer.css";

body {
  display: grid;
  grid-template-rows: 60px 1fr 120px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

.main-nav {
  display: flex;
}
